{{ $base_name := .Get "base_name" }}

<p></p>
<div style="max-width: 500px; aspect-ratio: 500 / 350; width: 100%;" id={{ (printf "%s%s" $base_name "_base_id" ) }}>
    <div class="hx-overflow-hidden hx-border hx-border-gray-200 hx-rounded-lg dark:hx-border-neutral-700">
        <canvas 
            id={{printf "%s%s" $base_name "_canvas_id" }} 
            style="width: 100%; height: auto; display: block;">
        </canvas>
        <script>
            window.runWasmFunction = window.runWasmFunction || [];
            window.runWasmFunction.push(() => {
                const canvas = document.getElementById("{{ $base_name }}_canvas_id");
                
                // Устанавливаем размеры canvas
                const container = canvas.parentElement;
                const maxWidth = 500;
                const maxHeight = 350;
                const containerWidth = container.offsetWidth;

                // Рассчитываем пропорциональную высоту
                const width = Math.min(containerWidth, maxWidth);
                const height = (width / maxWidth) * maxHeight;

                canvas.width = width;  // Устанавливаем физический размер
                canvas.height = height;

                wasmFuncs.{{ $base_name | safeJS }}("{{ $base_name }}_canvas_id");
            });
        </script>
    </div>
</div>
<p></p>
