{{ $base_name := .Get "base_name" }}

<p></p>
<div class="hx-mx-auto" style="max-width: 500px; touch-action: none" id={{ (printf "%s%s" $base_name "_base_id" ) }}>
    <div class="hx-overflow-hidden hx-border hx-border-gray-200 hx-rounded-lg  dark:hx-border-neutral-700">
        <canvas class="hx-flex align-items-end" id={{printf "%s%s" $base_name "_canvas_id" }} width="500px"
            height="280px" style="width: 100%; height: auto; touch-action: none;"></canvas>
        <div class="container">
                <div class="row" id={{printf "%s%s" $base_name "_add_space" }}></div>
        </div>
        <script>
            window.runWasmFunction = window.runWasmFunction || [];
            window.runWasmFunction.push(() => wasmFuncs.{{ $base_name | safeJS }}("{{ $base_name }}_canvas_id"));
        </script>
    </div>
</div>
<p></p>